@model CollectorzCorner.ComicBook

<div class="control-group">
    <label class="control-label">Writer:</label>
    <div class="controls cLabel">
        @Html.DisplayFor(model => model.Writer)
    </div>
</div>

<div class="control-group">
    <label class="control-label">Artist:</label>
    <div class="controls cLabel">
        @Html.DisplayFor(model => model.Artist)
    </div>
</div>

<div class="control-group">
    <label class="control-label">Colorist:</label>
    <div class="controls cLabel">
        @Html.DisplayFor(model => model.Colorist)
    </div>
</div>

<div class="control-group">
    <label class="control-label">Cover Artist:</label>
    <div class="controls cLabel">
        @Html.DisplayFor(model => model.CoverArtist)
    </div>
</div>

<div class="control-group">
    <label class="control-label">Editor:</label>
    <div class="controls cLabel">
        @Html.DisplayFor(model => model.Editor)
    </div>
</div>