@model CollectorzCorner.Models.ChangePasswordModel

@using (Html.BeginForm("ChangePassword","Account")) {
    @Html.ValidationSummary(true)

        <div class="control-group">
            <label class="control-label">Old Password: </label>
            <div class="controls">
                @Html.PasswordFor(model => model.OldPassword, new { style="width:175px"}) 
                @Html.ValidationMessageFor(model => model.OldPassword)
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">New Password: </label>
            <div class="controls">
                @Html.PasswordFor(model => model.NewPassword, new { style="width:175px"}) 
                <a href="" rel="tooltip" id="element" data-placement="right" title="Password must be a minimum of 6 characters." style="text-decoration:none"><span class="badge badge-info">?</span></a>
                @Html.ValidationMessageFor(model => model.NewPassword)
            </div>
        </div>

      <div class="control-group">
            <label class="control-label">Confirm Password: </label>
            <div class="controls">
                @Html.PasswordFor(model => model.ConfirmPassword, new { style="width:175px"}) 
                @Html.ValidationMessageFor(model => model.ConfirmPassword)
            </div>
        </div>
    
        <div class="control-group">
            <div class="controls"><input type="submit" value="Change Password" class="btn btn-success"/></div>
        </div>
    
    <script type="text/javascript">
        $(document).ready(function () {
            $('#element').tooltip();
        });
    </script>
}
